In [1]:
import pandas as pd

In [22]:
roles = {"Yone": 11,
"Katarina": 11,
"Akali": 11,
"Kha'Zix": 11,
"Pyke": 11,
"Fizz": 11,
"Diana": 11,
"Rengar": 11,
"Shaco": 11,
"Ekko": 11,
"Kassadin": 11,
"Qiyana": 11,
"Zed": 11,
"Evelynn": 11,
"Nocturne": 11,
"Talon": 11,
"Viktor": 10,
"Rumble": 10,
"Anivia": 10,
"Cassiopeia": 10,
"Ryze": 10,
"Swain": 10,
"Karthus": 10,
"Taliyah": 10,
"Vladimir": 10,
"Aurelion_Sol": 10,
"Malzahar": 10,
"Teemo": 10,
"Viego": 9,
"Jax": 9,
"Master_Yi": 9,
"Tryndamere": 9,
"Kayn": 9,
"Gwen": 9,
"Riven": 9,
"Kled": 9,
"Fiora": 9,
"Lillia": 9,
"Yasuo": 9,
"Gnar": 9,
"Gangplank": 9,
"Bard": 8,
"Jhin": 8,
"Blitzcrank": 8,
"Rakan": 8,
"Thresh": 8,
"Ivern": 8,
"Morgana": 8,
"Zyra": 8,
"Cho'Gath": 7,
"Zilean": 7,
"Braum": 7,
"Poppy": 7,
"Shen": 7,
"Tahm_Kench": 7,
"Galio": 7,
"Ziggs": 6,
"Xerath": 6,
"Lux": 6,
"Varus": 6,
"Vel'Koz": 6,
"Jayce": 6,
"Orianna": 6,
"Sylas": 6,
"Lissandra": 6,
"Syndra": 6,
"Brand": 6,
"Veigar": 6,
"Zoe": 6,
"Neeko": 6,
"Annie": 6,
"Karma": 6,
"LeBlanc": 6,
"Twisted_Fate": 6,
"Ahri": 6,
"Seraphine": 6,
"Azir": 6,
"Heimerdinger": 6,
"Nidalee": 6,
"Kennen": 6,
"Akshan": 5,
"Caitlyn": 5,
"Kai'Sa": 5,
"Twitch": 5,
"Tristana": 5,
"Xayah": 5,
"Kog'Maw": 5,
"Jinx": 5,
"Miss_Fortune": 5,
"Lucian": 5,
"Kalista": 5,
"Aphelios": 5,
"Vayne": 5,
"Kindred": 5,
"Corki": 5,
"Ashe": 5,
"Ezreal": 5,
"Samira": 5,
"Sivir": 5,
"Draven": 5,
"Quinn": 5,
"Graves": 5,
"Kayle": 5,
"Lulu": 4,
"Soraka": 4,
"Yuumi": 4,
"Senna": 4,
"Sona": 4,
"Nami": 4,
"Taric": 4,
"Janna": 4,
"Darius": 3,
"Sett": 3,
"Udyr": 3,
"Dr._Mundo": 3,
"Yorick": 3,
"Illaoi": 3,
"Aatrox": 3,
"Shyvana": 3,
"Urgot": 3,
"Trundle": 3,
"Nasus": 3,
"Volibear": 3,
"Mordekaiser": 3,
"Garen": 3,
"Pantheon": 2,
"Irelia": 2,
"Camille": 2,
"Warwick": 2,
"Hecarim": 2,
"Olaf": 2,
"Skarner": 2,
"Vi": 2,
"Rek'Sai": 2,
"Elise": 2,
"Xin_Zhao": 2,
"Renekton": 2,
"Wukong": 2,
"Jarvan_IV": 2,
"Lee_Sin": 2,
"Fiddlesticks": 2,
"Singed": 1,
"Sion": 1,
"Alistar": 1,
"Amumu": 1,
"Nautilus": 1,
"Maokai": 1,
"Ornn": 1,
"Gragas": 1,
"Rammus": 1,
"Malphite": 1,
"Zac": 1,
"Rell": 1,
"Leona": 1,
"Sejuani": 1,
"Nunu": 1,}

In [28]:
source = pd.read_csv("../data/matches.csv").drop(["Unnamed: 0"], axis='columns')

In [31]:
t1 = [x for x in source.columns[:-2] if ".1" not in x]
t2 = [x for x in source.columns[:-2] if ".1" in x]

In [30]:
ones = []
twos = []
threes = []
fours = []
fives = []
sixes = []
sevens = []
eights = []
nines = []
tens = []
elevens = []
ones_b = []
twos_b = []
threes_b = []
fours_b = []
fives_b = []
sixes_b = []
sevens_b = []
eights_b = []
nines_b = []
tens_b = []
elevens_b = []
for index, row in source.iterrows():
    one = 0
    two = 0
    three = 0
    four = 0
    five = 0
    six = 0
    seven = 0
    eight = 0
    nine = 0
    ten = 0
    eleven = 0
    one_b = 0
    two_b = 0
    three_b = 0
    four_b = 0
    five_b = 0
    six_b = 0
    seven_b = 0
    eight_b = 0
    nine_b = 0
    ten_b = 0
    eleven_b = 0
    t1_list = []
    for column in t1:
        if row[column] == 1.0:
            t1_list.append(column)
    t2_list = []
    for column in t2:
        if row[column] == 1.0:
            t2_list.append(column.replace(".1", ""))    
    result = 1 if row['Team1'] == 1.0 else 0
    
    for element in t1_list:
        if role[x] == 1:
            one += 1
        elif role[x] == 2:
            two += 1
        elif role[x] == 3:
            three += 1
        elif role[x] == 4:
            four += 1
        elif role[x] == 5:
            five += 1
        elif role[x] == 6:
            six += 1
        elif role[x] == 7:
            seven += 1
        elif role[x] == 8:
            eight += 1
        elif role[x] == 9:
            nine += 1
        elif role[x] == 10:
            ten += 1
        elif role[x] == 11:
            eleven += 1            
    
    break
t1_list, t2_list, result

(['Aatrox', 'Jinx', "Kai'Sa", 'Kennen', 'Twitch'],
 ['Alistar', 'Ezreal', 'Galio', 'Nasus', 'Ryze'],
 1)

In [35]:

[roles[x] for x in t1_list]

[3, 5, 5, 6, 5]

In [33]:
df = pd.DataFrame()

In [ ]:
df2

In [9]:
df

,Aatrox,Ahri,Akali,Alistar,Amumu,Anivia,Annie,Aphelios,Ashe,Aurelion Sol,...,Yorick.1,Yuumi.1,Zac.1,Zed.1,Ziggs.1,Zilean.1,Zoe.1,Zyra.1,Team1,Team2
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
34675,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
34676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34677,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
# Start with features of count # of each 11 roles
# Predict who goes in each role
# Make features; enchanter top etc;
# Make features of win rate of matchups
# Make simulations, try which is better garen or master yi jungle